@import 'nib' 
@import 'iconos.styl'
@import 'normalize.styl'

vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// -webkit-animation parametro
// -moz-animation parametro
// -o-animation parametro
// -ms-animation parametro
// animation parametro

//Etiquetas nativas


// Id`s 
//Header-Ids

//Nav-Ids

//Modulos-Ids

//Clases

//Header-Clases

//Nav-Clases 

//Modulos-Clases


//Responsive Design

@media screen and (max-width: 480px){

	
}

@media screen and (min-width: 1000px){

	
}	